<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="robots.txt" />
          <add segment="sitemap.xml" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".txt" />
      <remove fileExtension=".xml" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Block robots and sitemap" stopProcessing="true">
          <match url="^(robots\.txt|sitemap\.xml)$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="404" statusReason="Not Found" statusDescription="Not Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>